<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="saluteHeader"><h1>hello {{ userName }}</h1></div>
            <div class="eventsContainer">
                
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
