{% extends "home.html.twig" %}

{% block body %}
    <form id="signInForm" method="post" action="{{ path('signIn')}}">
        <div class="formLine">
            <label>email</label>
            <input type="email" form="signInForm" id="signInEmail" name="signInEmail" required>
        </div>
        <div class="formLine">
            <label>password</label>
            <input type="password" form="signInForm" id="signInPass" name="signInPass" required>
        </div>
        <div class="formSubmit">
            <input type="submit" form="signInForm" id="signInSubmit" value="enviar">
        </div>
    </form>
{% endblock %}
